@model IEnumerable<ProyectoN1.Clinica.Entidades.Medico>

@{
    ViewBag.Title = "Medicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Médicos (@ViewBag.Clinica.Nombre)</h2>

<p class="text-right">
    @Html.ActionLink("Nuevo", "AgregarMedico", new { pIdClinica = @ViewBag.Clinica.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.Descripcion)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>