@model IEnumerable<ProyectoN1.Clinica.Entidades.Reportes.RepAtencionEspecialidad>

@{
    ViewBag.Title = "Estadisticas2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informe de atención por especialidad</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadCitas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorcentajeAtencion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadCitas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PorcentajeAtencion)
        </td>
    </tr>
}

</table>
