@model IEnumerable<ProyectoN1.Clinica.Entidades.Paciente>

@{
    ViewBag.Title = "PacientesAtendidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informe de pacientes atendidos</h2>

<div class="row mt mb">
    <div class="col-sm-1">
        <label>Clinica: </label>
    </div>
    <div class="col-sm-3">
        @Html.DropDownList("DDClinicas", new SelectList(ViewBag.Clinicas, "Id", "Nombre"), null, new { @class = "form-control" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Descargar JSON", "PacientesAtendidosJSON", null, new { Id = "BtnDescargar", @class = "btn btn-primary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
        </tr>
    }

</table>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $(function(){
                $("#DDClinicas").change(function () {
                    var vIdClinica = $("#DDClinicas").val();
                    window.location.href = '@Url.Action("PacientesAtendidos", "Reportes")?pIdClinica=' + vIdClinica;
                });
            });

            $('#BtnDescargar').click(function () {
                var vIdClinica = $('#DDClinicas').val();
                var path = '@Url.Content("~/Reportes/PacientesAtendidosJSON")?pIdClinica=' + vIdClinica;
                $(this).attr("href", path);
            });

        });
    </script>
}

